<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flox-home</title>
    <link rel="stylesheet" href="/static/css/home.css" />
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <img
            src="/static/images/floxlogo_transparent.png"
            alt="Flox icon"
            width="40"
            height="40"
          />
          <h2 class="logo">flox</h2>
        </div>
      </div>
      <div class="content">
        <h1>Welcome to Flox</h1>
        <p>This is the basic home page for backend video testing.</p>
      </div>
    </div>
  </body>
</html>
